<!doctype html>  
<head>
   <title>Regex JSON Tester</title>
</head>
<html>  
   <body>  
      <h2 style = "text-align: center;">Regex JSON Tester</h2>  
          
      <h3>Pattern Requirements</h3>
   <ul>
      <li>Double-slash all escapes and regex slashes.</li>
      <li>Use a JSON file consisting of a list of dictionaries with key "pattern" and value of a list of regexes.</li>
   </ul>

      <form action="/results" enctype="multipart/form-data" method="POST">
         <br/>
         Upload Regex JSON:
         <input type="file" name="regex_file" value="regex_file_value">
         <br/>
         Upload Line-Break Separated Strings
         <input type="file" name="string_file" value="string_file_value">
         <br/>
         <input type="submit" value="Submit">
         </form>
   </body>  
</html>  