<!doctype html>  
<head>
   <title>Regex JSON Checker</title>
   <style>
      input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
   </style>
</head>
<html>  
   <body>  
      <h1 style = "text-align: left;">Regex JSON Checker</h1>  
      
      <h3>Instructions</h3>
   <ul>
      <li>Double-slash all escapes for JSON.</li>
      <li>Use JSON format as in placeholder text.</li>
   
   </ul>

      <form action="/results" method="POST">
         <br/>
         <label for="regex_patterns"><h4>Paste Regex JSON:</h4></label>
         <br/>
         <textarea class="input" id="regex_patterns" name="regex_patterns" rows="20" cols="80">
[
   {
      "name": "DOMAIN__DINOSAURS",
      "pattern": [
         "(?=.*rex.*).*\\bTyrannosaurus\\b.*",
         ".*(?:saurus|sauri).*",
         ".*dactyl.*"   if re.fullmatch(adapted_pattern, utt_string):
                  
         if utt_string not in results.keys(): 
            results[utt_string] = []
            results[utt_string].append(["\"" + pattern + "\""])
            results[utt_string].append(pattern_object["name"])
         else:
            if len(results[utt_string]) > 1:
               if results[utt_string][1] == "":
                  results[utt_string][1] = pattern_object["name"]
            results[utt_string][0].append("\"" + pattern + "\"")
            
      else:
         if utt_string not in results.keys():
            results[utt_string] = []
            results[utt_string].append([])
            results[utt_string].append("")
         else:
            pass
      ]
   },
   {
      "name": "DOMAIN__COWBOYS",
      "pattern": [
         "(?=.*\\bguns?\\b.*).*west.*",
         ".*yü.*(?:haw)?",
         ".*ride.*"
      ]
   }
]</textarea>
       
         <br/>
         <label for="strings"><h4>Paste Strings:</h4></label>
         <br/>
         <textarea class="input" id="strings" name="strings" rows="20" cols="80">
I like Velociraptors
Stegosauruses have spikey tails
Archaeopteryx is kinda like a Pterodactyl maybe
Pterodactyls were poetic creatures. 
But only their feet (because of the "dactyl").
Brachiosauri have long necks
Tyrannosaurus (rex) is the king of the dinos
The Wako Kid was the fastest gun in the west.
Gunslingers abounded in the wild west.
Cowboys like lassos and guns
Do you think a cowboy ever herded Stegosauruses?
Or ride a Tyrannosaurus Rex?
Dü yü like ümlautß?
</textarea>
         <br/>
         <input type="submit" value="Submit">
         </form>
         <p>By <a href="https://thejunkyard.cc">Brian Junker-Latocha</a>.</p>
         <p>See Github for <a href="https://github.com/BrianInGermany/regex-json-checker">code</a>.</p>
   </body>  
</html>  